@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
  box-sizing: border-box;
}

:root {
  --brown-sugar: #94634C;
  --cafe-lait: #B3826B;
  --y-mn-blue: #3A5683;
  --silver-pink: #C9AFB7;
  --silver-sand: #C6D5D5;
  --platinum: #eae9e8;
  
  --prussian-blue: #142e50;
  --lavender-blush: #f3e3e3;
  --trypan-blue: #2708a0;

  --dark-2: #393c3f;
  --dark-1: #292F36;
  --yellow-1: #ffe66d;
  --green-1: #44CF6C;
  --red-1: #FF6B6B;

  --transition-time: 1s;
}

body {
  min-width: auto;
  min-height: 100vh;
  margin: 0;
  background-color: var(--platinum);
  background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23dc965a' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

  color: white;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  /* overflow-y: hidden; */
}

header {
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px black;
}

h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.vertical-separator {
  border-left: 3px solid var(--silver-pink);
  height: 7em;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}

.nav-wrapper:first-child {
  margin: 20px 0 0 20px;
}

.nav-btn {
  width: fit-content;
  height: 3rem;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background: var(--brown-sugar);

  padding: 10px;
  color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}

.nav-btn:hover {
  filter: brightness(90%);
}

.nav-btn i {
  line-height: 0.8;
  font-size: 2.5em;
}

.main-title {
  transform: translate(0, -5.5vh);
  transition: 0.75s ease-in;
  text-align: center;
  font-size: 3rem;
  z-index: 3;
}

.main-title.centered {
  transform: translate(0, 17vh);
  transition: 0.75s ease-in;
}

.content-container {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.5fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "."
    "."; 
}

.drag-container {
  margin: 10px;
}


/* Template */
.template-wrapper {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.show-template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.template-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  animation: modalopen 1s;
}

.template-item {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 14%;
}

.template-list span {
  margin: 5px;
  padding: 0 5px 0 5px;
  color: white;
}

.template-icon {
  display: flex;
  justify-content: center;
  cursor: pointer;

  background-color: var(--brown-sugar);
  padding: 10px;
  border-radius: 10px;
  font-size: 5em;
}

.template-icon:hover {
  filter: brightness(90%);
}

#preset-1 {
  background-color: var(--red-1);
}

#preset-2 {
  background-color: var(--dark-1);
}

#preset-3 {
  background-color: var(--green-1);
}

/* Floating add button */
.fab-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;
  cursor: pointer;
}

.fab-icon-holder {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: var(--cafe-lait);

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.fab-icon-holder:hover {
  filter: brightness(90%);
}

.fab-icon-holder i {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  font-style: 25px;
  color: #ffffff;
}

.fab {
  width: 60px;
  height: 60px;
  background: var(--brown-sugar);
}

.fab-options {
  list-style-type: none;
  margin: 0;

  position: absolute;
  bottom: 70px;
  right: 0px;

  opacity: 0;

  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: 85% bottom;
}

.fab:hover + .fab-options, .fab-options:hover {
  opacity: 1;
  transform: scale(1);
}

.fab-options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.fab-label {
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;

  border-radius: 3px;
  font-size: 16px;
  background: #666666;
  color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}


/* Modal */
.modal-container {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: var(--dark-1);
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.8);
  max-width: 95%;
  width: 500px;
  animation: modalopen var(--transition-time);
}

.close-icon {
  filter: brightness(90%);
  float: right;
  color: white;
  font-size: 24px;
  position: relative;
  top: 13px;
  right: 13px;
  cursor: pointer;
}

.close-icon:hover {
  filter: brightness(110%);
}

.modal-header {
  background: var(--brown-sugar);
  color: white;
  padding: 15px;
}

.modal-content {
  padding: 20px;
  background: var(--dark-1);
}


/* Form */
.form-group {
  height: 55px;
}

.form-input {
  width: 97%;
  padding: 5px;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  display: block;
  outline: none;
}

.form-label {
  color: var(--primary-color);
  display: block;
}

.form-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  margin: 0 0.4em 0 0.4em;
  padding: 0.6em 0 0.6em 0;

  background-color: var(--cafe-lait);
  color: #ffffff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
}

.form-btn:hover {
  filter: brightness(90%);
}

.drag-list {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  align-items: flex-start;
}


/* Blocks */
.drag-block {
  flex: 1;
  margin: 0 10px;
  position: relative;
  background-color: rgba(148, 99, 76, 0.4);
  /* border-radius: 10px; */
  overflow-x: hidden;
}

.drag-item-text {
  width: 90%;
}

.drag-item-text:hover {
  filter: brightness(90%);
}

.drag-item-text:focus {
  background-color: #ffffff;
  color: black;
  border-radius: 3px;
}

.action-block .header,
.action-block .solid,
.action-block .solid:hover,
.action-block .over {
  background-color: rgba(0, 0, 0, 0.5);
}

#block-colour {
  width: 15%;
}


/* Custom Scrollbar */
.custom-scroll {
  overflow-y: auto;
  max-height: 75vh;
}

.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 5px;
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.8);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  margin: 10px;
  padding: 0 15px 0 10px;
}

.header h1 {
  font-size: 1.25rem;
}

.header i {
  font-size: 1.1rem;
}

.header i:hover {
  filter: brightness(90%);
}


/* Drag and Drop */
.over {
  padding: 50px 10px;
}

.drag-item-list {
  min-height: 50px;
}

.drag-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px;
  padding: 10px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  cursor: pointer;
}

/* ITEM OPTIONS */
.item-options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.item-icon-container {
  font-size: 1.2em;
}

.item-icon-container:hover {
  filter: brightness(90%);
}

.item-options {
  list-style-type: none;
  margin: 0;

  position: absolute;
  right: 40px;

  opacity: 0;
  transition: all 0.3s ease;  
  transform: scale(0);
  transform-origin: 85% top;
}

.item-options.active {
  opacity: 1;
  transform: scale(1);
}

.item-options li {
  display: flex;
  justify-content: flex-start;
  background-color: #666666;

  padding: 5px;
  border-radius: 3px;
  font-size: 0.85em;
}

.item-options li:hover {
  filter: brightness(90%);
}

.drag-item:focus {
  outline: none;
  background-color: white;
  color: black;
}

.drag-item:hover {
  box-shadow: 0 0 5px rgba(179, 130, 107, 1);
  border: 1px solid rgba(179, 130, 107, 1);
}


/* Add Button Group */
.add-btn-group {
  display: flex;
  justify-content: space-between;
}

.add-btn {
  margin: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  user-select: none;
}

.add-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.add-btn:active {
  transform: scale(0.97);
}

.solid {
  display: none;
}

.solid:hover {
  transition: unset;
  filter: brightness(95%);
  color: white;
}

.plus-sign {
  font-size: 1.5rem;
  position: relative;
  top: -3px;
}

.add-container {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 100px;
  display: none;
}

.add-item {
  width: 100%;
  min-height: 100px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  margin: 5px auto;
  resize: none;
  color: black;
  padding: 10px;
}

.add-item:focus {
  outline: none;
}

/* Media Query: Laptop */
@media screen and (max-width: 1800px) {
  .main-title {
    font-size: 2.5rem;
  }

  .template-list {
    font-size: 0.9rem;
  }

  .template-icon {
    font-size: 4em;
  }
}

/* Animations */
@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  body {
    overflow-y: auto;
  }

  .main-title {
    font-size: 1.7rem;
  }
  
  .template-list {
    flex-wrap: wrap;
    font-size: 0.7rem;
  }

  .template-icon {
    font-size: 2em;
  }

  .drag-container {
    margin: 0;
  }

  .drag-list {
    display: flex;
    flex-wrap: column wrap;
  }

  .drag-block {
    margin: 10px;
  }

  .add-modal-btn {
    width: calc(var(--add-block) - 10px);
    height: calc(var(--add-block) - 10px);
    line-height: calc(var(--add-block) - 10px);;
    font-size: 1.1rem;
  }

  .save-workspace-btn {
    width: calc(var(--save-workspace) - 10px);
    height: calc(var(--save-workspace) - 10px);
    line-height: calc(var(--save-workspace) - 10px);;
    font-size: 1.1rem;
  }
}